/* colour palette
light green: #ccf6c8
light yellow : #fafcc2
light orange: #f6d6ad
light pink: #f9c0c0
*/

h1{
    background:transparent;
    line-height: 5px;
    text-align: center;
}

body{
    background:white;
    margin: 0;
    height: 100%;
}
#bongocats{
  height:100%;
  width:100%;
}